{% extends 'base.html.twig' %}

{% block title %}Welcome{% endblock %}

{% block body %}

    {% include 'components/topbar.html.twig' %}
    {% include 'components/header.html.twig' %} 
    <div class="offcanvas-overlay"></div> 
    {% include 'components/hero.html.twig' %}


    {% include 'components/products-area.html.twig' %}



 

{% endblock %}
