<div class="product">
    <div class="thumb">
        <a href="single-product.html" class="image">
            <img src="/main/assets/images/product-image/8.jpg" alt="Product">
            <img class="hover-image" src="/main/assets/images/product-image/16.jpg" alt="Product">
        </a>
        <span class="badges">
            <span class="new">Sale</span>
        </span>
        <div class="actions">
            <a href="wishlist.html" class="action wishlist" title="Wishlist"><i class="pe-7s-like"></i></a>
            <a href="#" class="action quickview" data-link-action="quickview" title="Quick view" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="pe-7s-search"></i></a>
            <a href="compare.html" class="action compare" title="Compare"><i class="pe-7s-refresh-2"></i></a>
        </div>
        <button title="Add To Cart" class=" add-to-cart">Add
            To Cart</button>
    </div>
    <div class="content">
        <span class="ratings">
            <span class="rating-wrap">
                <span class="star" style="width: 60%"></span>
            </span>
            <span class="rating-num">( 3 Review )</span>
        </span>
        <h5 class="title"><a href="single-product.html">{{ data  }} </a></h5>
        <span class="price">
            <span class="new">$38.50</span>
        </span>
    </div>
</div>